/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
    padding: 55px 0;
}

.service-list {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.single-service {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10%;
    transition: .3s;
}
.service-list .col-sm-4 {
    padding: 0;
}
.service-list .row {
    margin: 0;
}
.single-service h3 {
    color: #535353;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}
.service-icon i {
    color: #e2e2e2;
    font-size: 40px;
    margin: 20px 0;
    transition: .3s;
}
.single-service p {
    color: #535353;
    line-height: 2.3;
}
.single-service:hover {
    box-shadow: 0 40px 90px #808080;
}
.single-service:hover .service-icon i {
    color: #CF1E18;
}







