/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
  padding: 70px 0;
}
.text-area {
    padding: 0 50px;
    text-align: center;
}
.text-area p.subtitle-text {
    color: #939395;
    font-size: 16px;
}
.text-area h2 {
    color: #39393B;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 40px;
}

.text-area p {
    color: #88888a;
    font-size: 16px;
    line-height: 1.7;
}
a.section-btn {
    background: #4559ee none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin-top: 55px;
    padding: 13px 30px;
    text-transform: uppercase;
}
.shadow-gallery {
    position: relative;
} 
.shadow-gallery img {
  position: relative;
  width: 50%;
  z-index: 1;
    box-shadow: 0 0 20px #333
}
.shadow-gallery img:nth-child(1) {
  top: -50px;
}
.shadow-gallery img:nth-child(2) {
  bottom: 0;
  position: absolute;
  right: 30px;
  width: 50%;
  z-index: 2;
}
.shadow-gallery img:nth-child(3) {
  bottom: -80px;
  left: -50px;
  position: absolute;
  right: auto;
  width: 70%;
  z-index: 3;
}



















