/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }
a:focus{
    border: none;
}
.section-padding{
    padding: 80px auto;
}

.blue-quote-form {
    background: #1eacff none repeat scroll 0 0;
    margin-top: -78px;
    max-width: 770px;
    padding: 35px 100px 50px;
}
.quote-form-wrap img {
    display: block;
    margin: 0 auto;
}
.blue-quote-form h3 {
    color: #fff;
    font-size: 26px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.blue-quote-form h3::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    width: 130px;
}
.blue-quote-form h3::after {
    background: #1eacff none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -6.5px;
    content: "";
    height: 13px;
    left: 50%;
    margin-left: -6.5px;
    position: absolute;
    width: 13px;
}
.blue-quote-form input, .blue-quote-form textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.blue-quote-form input, .blue-quote-form textarea {
    border-bottom: 1px solid #bfdafc;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}
.blue-quote-form textarea {
    height: 100px;
}
.blue-form-submit {
    margin-top: 20px;
    text-align: center;
}
selectorSavingError {
}
.blue-form-submit button[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #1eacff;
    padding: 10px;
    text-transform: uppercase;
}









