/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.single-slide-item{
    background-image: url(../images/bg-img.jpg);
}

.single-slide-item {
    background-position: center center;
    background-size: cover;
    height: 657px;
    position: relative;
}
.slide-text-area {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.slide-text {
    background: #197fc9 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
    padding: 60px 100px 60px 0;
    position: relative;
}
.slide-text h2 {
    font-size: 50px;
}
.boxed-btn {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin-top: 40px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.slide-text::before {
    background: #197fc9 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -1000%;
    position: absolute;
    top: 0;
    width: 1000%;
}
.slide-text::after {
    background: #197fc9 none repeat scroll 0 0;
    content: "";
    height: 20px;
    position: absolute;
    right: -10px;
    top: 45px;
    transform: rotate(45deg);
    width: 20px;
}
