/* Base CSS */
@font-face {
  font-family: 'CODEBold';
  src: url('../fonts/CODEBold.eot');
  src: url('../fonts/CODEBold.eot') format('embedded-opentype'), url('../fonts/CODEBold.woff2') format('woff2'), url('../fonts/CODEBold.woff') format('woff'), url('../fonts/CODEBold.ttf') format('truetype'), url('../fonts/CODEBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CODELight';
  src: url('../fonts/CODELight.eot');
  src: url('../fonts/CODELight.eot') format('embedded-opentype'), url('../fonts/CODELight.woff2') format('woff2'), url('../fonts/CODELight.woff') format('woff'), url('../fonts/CODELight.ttf') format('truetype'), url('../fonts/CODELight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODELight', sans-serif;
}
body {
    font-family: 'Karla', sans-serif;

}
a:hover { text-decoration: none }

.homepage-slider-wrap {
    background-image: url(../images/hero.jpg);
}
.product-bg-1 {
    background-image: url(../images/model-1.png);
}
.product-bg-2 {
    background-image: url(../images/model-2.png);
}
.product-bg-3 {
    background-image: url(../images/model-3.png);
}
.product-bg-4 {
    background-image: url(../images/model-4.png);
}
.product-bg-5 {
    background-image: url(../images/model-5.png);
}
.product-bg-6 {
    background-image: url(../images/model-6.png);
}
.product-bg-7 {
    background-image: url(../images/model-7.png);
}
.product-bg-8 {
    background-image: url(../images/model-8.png);
}
.product-bg-9 {
    background-image: url(../images/model-9.png);
}
.product-bg-10 {
    background-image: url(../images/model-10.png);
}

.header-top-area a {
    color: #5b3f61;
    display: inline-block;
    padding: 15px;
}
.header-top-area {
    font-size: 13px;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 97;
}
.header-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-left ul li {
    display: inline-block;
}
.header-yo-area a.menu-trigger {
    display: none;
}
.header-right {
    text-align: right;
}
.header-right i.fa.fa-search {
    padding-left: 10px;
}
.homepage-slider-wrap {
    background-color: #f0dcd3;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.single-slide-item {
    position: relative;
}
.single-slide-item img {
  bottom: 0;
  left: 50%;
  margin-left: -350px;
  position: absolute;
  width: 700px;
}
.homepage-slider-wrap div {
    height: 100%;
}
.slider-text-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.slider-text-tablecell {
    color: #d7437c;
    display: table-cell;
    font-family: codelight,sans-serif;
    font-size: 120px;
    line-height: 95px;
    padding-left: 15%;
    vertical-align: middle;
}
.slider-text-tablecell strong {
    font-family: codebold;
    font-weight: normal;
}
.slide-alt-color {
    color: #6aabc8;
}


.big-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.big-menu li {
    background-color: #ecf2e7;
    float: left;
    font-family: codelight;
    font-size: 50px;
    transition: all 0.3s ease 0s;
    width: 30%;
}
.big-menu li a {
    color: #5b3f61;
    display: block;
    padding: 170px 30px 30px;
    text-align: center;
}
.big-menu li:nth-child(2) a {
    background-color: #f2e7e5;
    color: #f16388;
    font-family: codebold;
}
.big-menu li:nth-child(3) {
    background-color: #f6f2e5;
}
.big-menu li:nth-child(4) a {
    background-color: #ebf4f6;
    text-align: left;
}
.big-menu li:nth-child(2),
.big-menu li:nth-child(3) {
    width: 20%;
}
.big-menu li:hover {
    opacity: 0.7;
}
.big-menu li:nth-child(1) a {
    text-align: right;
}

.product-area {
    padding-top: 100px;
}
.single-product-item {
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 18%;
    background-color: #F2EAEA;
}
.product-list {
    margin-left: -2%;
    overflow: hidden;
}
.single-product-item:nth-child(2) {
    height: 620px;
    width: 78%;
}

.single-product-item:nth-child(4) {
    width: 58%;
}
.single-product-item:nth-child(9) {
    width: 38%;
}

.products-top-links a {
    color: #b3abb4;
    display: inline-block;
    padding: 5px;
}
.products-top-links {
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    position: relative;
}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: .3s;
}
.single-product-item:hover .product-hover{
    opacity: 1;
}
.product-hover::after {
    background: #70aac3 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.product-btn-info p {
  margin: 0;
}
.product-hover > a {
    border: 2px solid;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 50%;
    line-height: 25px;
    margin-left: -35px;
    margin-top: -70px;
    padding: 5px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 70px;
    transition: .3s;
}
.single-product-item:hover .product-hover > a{
    margin-top: -40px;;
}
.single-product-item:hover .products-top-links a{
    z-index: 99;
    color: #fff;
    position: relative;
}
.product-btn-info {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    padding-top: 10px;
}
.product-btn-info h4 {
    font-family: karla;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.product-btn-info span.product-price {
    color: #f16388;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 10px;
}
.product-color-box span {
    border: 1px solid #d9d5d9;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.product-color-box {
    border-left: 1px solid #908b91;
    padding-left: 5px;
}
.product-color-box span.product-color- {
    color: #94dbe6;
}
.product-color-box span.product-color-green {
    background: #94dbe6 none repeat scroll 0 0;
}
.product-color-box span.product-color-red {
    background: #f5909b none repeat scroll 0 0;
}

.load-more-products-btn {
    background-color: #f9f9f8;
    color: #e84f88;
    display: block;
    font-size: 16px;
    margin-bottom: 70px;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.porduct-promotion {
    background: #f8f5f5 none repeat scroll 0 0;
}
.porduct-promotion p{
    color: #786b7a;
}
.promo-bg {
    background: #f5f0ef none repeat scroll 0 0;
}
.promo-content {
    line-height: 2;
    padding: 45px 105px 50px 40px;
}
.promo-title {
    color: #ef6388;
    margin-bottom: 20px;
    position: relative;
}
.promo-title h2 {
    font-size: 36px;
    margin: 0 0 5px;
}
.promo-title h2 strong {
    font-family: codebold;
    font-weight: normal;
}
.promo-title span.year-text {
    color: #51abc8;
    font-family: codebold;
    font-size: 110px;
    left: 35%;
    line-height: 90px;
    opacity: 0.2;
    position: absolute;
    top: 12px;
}
.box-btn {
    background-color: #51abc8;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 20px;
    padding: 2px 20px;
    text-transform: uppercase;
}
.brand-images {
    margin-top: 100px;
}

.footer-area {
    background-color: #f4f4f4;
    margin-top: 50px;
}
.footer-area, .footer-area a {
    color: #919191;
}
.footer-menu ul {
    font-weight: 700;
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
.footer-menu ul li {
    display: inline-block;
    margin-right: 50px;
}
.social-links a {
    display: inline-block;
    font-size: 120%;
    padding-left: 10px;
}
.email-subscribe-form input[type="email"] {
    border: 1px solid #ddd;
    min-width: 285px;
    padding: 8px 15px;
}
input[type="submit"] {
    background: #f36389 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}
.social-links {
    margin-bottom: 10px;
}
.footer-menu {
    padding-top: 15px;
}
.footer-area {
    padding: 50px 0;
}

.owl-carousel .owl-item .single-slide-item img {
    width: auto;
}
.homepage-slider-wrap .owl-nav div {
    color: #5b3f61;
    font-size: 20px;
    height: auto;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
}
.homepage-slider-wrap .owl-nav div.owl-next {
    left: auto;
    opacity: 0;
    right: 0;
}
.homepage-slider-wrap .owl-nav div.owl-prev {
    left: 0;
    opacity: 0;
    right: auto;
}
.homepage-slider-wrap:hover .owl-nav div.owl-next {
    opacity: 1;
    right: 5%;
}
.homepage-slider-wrap:hover .owl-nav div.owl-prev {
    left: 5%;
    opacity: 1;
}

.single-product-promotion img {
    width: auto !important;
}
.porduct-promotion .owl-dots div {
    background-color: #d0cccd;
    border-radius: 50%;
    height: 15px;
    margin-bottom: 10px;
    width: 15px;
}
.porduct-promotion .owl-dots div.active {
    background-color: #e84f88;
}
.porduct-promotion .owl-dots {
    margin-top: -2%;
    position: absolute;
    right: 5%;
    top: 50%;
}

.off-canvar-menu {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    padding: 30px;
    position: fixed;
    width: 300px;
    z-index: 99;
    margin-left: -300px;
    transition: .2s;
}
.off-canvar-menu.active{
    margin-left: 0;
}
.off-canvar-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}
.off-canvar-menu ul li a {
    border-bottom: 1px solid #636363;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
}

.menu-close {
    color: #fff;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.off-canvar-overlay {
  background: #000 none repeat scroll 0 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
    transition: .3s;
}
.off-canvar-overlay.active{
    z-index: 98;
    opacity: .6;
}
.header-top-area a.menu-trigger span {
    background: #fa6589 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-bottom: 7px;
    width: 30px;
}
.header-top-area a.menu-trigger span:nth-child(2) {
    width: 15px;
}
.header-top-area a.menu-trigger span:nth-child(3) {
    width: 25px;
}
.header-left ul {
    float: left;
}
.header-top-area a.menu-trigger {
    float: left;
}



















