/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.maimenu-area {
    background: #25385b none repeat scroll 0 0;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: inline-block;
    position: relative;
}
.mainmenu ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
    padding: 30px 10px;
    text-transform: uppercase;
}

.mainmenu li ul {
    background: #25385b none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 150px;
    width: 200px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

/* dropdown menu */
.mainmenu li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 80px;
} 
.mainmenu li {
    position: relative;
}
.mainmenu li ul li a {
  border-bottom: 1px solid #fff;
  padding: 10px;
  text-transform: capitalize;
    transition: .3s;
}
.mainmenu li ul li:hover > a {
    padding-left: 30px;
}
.mainmenu li ul li:last-child a {
  border-bottom: 1px solid transparent;
}
.mainmenu li ul li {
    display: block;
}
/* Second label dropdown menu */
.mainmenu li:hover ul ul {
    visibility: hidden;
    opacity: 0;
}
.mainmenu ul ul li ul {
    left: 200px;
}
.mainmenu ul ul li:hover > ul {
    top: 0;
    visibility: visible;
    opacity: 1;
}


.service-box-bg {
    background-image: url(../images/medical.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.box-bg-2{
    background-image: url(../images/medical-2.jpg);
}
.box-bg-3{
    background-image: url(../images/medical-3.jpg);
}

.section-padding {
    padding: 70px 0;
}
.title-text {
    color: #848484;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
}
.title-text h2 {
    color: #333;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.title-text h2 span {
    color: #00c9cf;
}
.service-box-bg {
    border-radius: 5px 5px 0 0;
    height: 250px;
    position: relative;
    z-index: 1;
}
.service-box-bg i {
    background: #25385b none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: -25px;
    color: #fff;
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    text-align: center;
    width: 70px;
    transition: .3s;
}
.service-box-bg i::before {
    font-size: 38px;
    line-height: 60px;
    margin: 0;
}
.single-service-box {
    border: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
}
.single-service-box:hover h4 {
    background-color: #25385B;
    color: #fff;
}
.single-service-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 40px 20px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}
.single-service-box:hover .service-box-bg i {
    background-color: #00c9cf;
    border: 4px solid #25385B;
}

.video-play-btn {
    background-color: #ddd;
    background-position: center center;
    background-size: 105% auto;
    display: table;
    height: 438px;
    width: 100%;
    transition: .3s;
}
.video-play-btn:hover {
    background-size: 115% auto;
}
.video-overlay { 
    color: #fff;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    transform: scale(.7);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.video-play-btn:hover .video-overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.video-overlay:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: #db1f25 none repeat scroll 0 0;
    opacity: .4;
}
.boxed-plus {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 30px;
    line-height: 26px;
    margin-bottom: 20px;
    width: 30px;
}
.video-btn {
  background-color: #d31e24;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  height: 70px;
  left: 50%;
  line-height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  padding-left: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 70px;
}
.video-top-desc {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.video-top-desc span {
    display: inline-block;
    position: relative;
    padding: 0 25px;
}
.video-top-desc span::before, .video-top-desc span::after {
    background-color: #fff;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.video-top-desc span::before {
    left: 0;
} 
.video-top-desc span::after {
    right: 0;
}
.video-overlay > p {
    opacity: 0.7;
}
.video-overlay p.video-top-desc {
    opacity: 1;
}
