/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.single-list-box {
    background-color: #ddd;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 350px;
    position: relative;
}
.box-bg-1 {
    background-image: url(../images/img-1.jpg);
}
.box-bg-2 {
    background: url(../images/img-2.jpg);
}
.box-bg-3 {
    background: url(../images/img-3.jpg);
}
.box-bg-4 {
    background: url(../images/img-4.jpg);
}
.box-bg-5 {
    background: url(../images/img-5.jpg);
}
.box-bg-6 {
    background: url(../images/img-6.jpg);
}

.list-box-hover {
    bottom: 40px;
    color: #fff;
    left: 10%;
    position: absolute;
    width: 80%;
    z-index: 1;
}
.single-list-box::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.section-padding {
    overflow-x: hidden;
    padding: 75px 0;
}
.section-title {
    color: #898a91;
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}
.section-title h2 {
    color: #333;
    font-size: 42px;
    font-weight: 300;
    text-transform: capitalize;
}
.section-title p span {
    color: #fc103c;
}
.list-box-hover h3 {
    font-size: 30px;
    font-weight: 200;
    text-transform: capitalize;
}
.list-box-hover p {
    font-size: 20px;
    opacity: 0.6;
}
a.borderd-btn {
    border: 1px solid;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    padding: 12px 35px;
}
.category-carosel .owl-stage-outer {
    overflow: inherit;
}
.category-carosel {
    position: relative;
}
.category-carosel::before, .category-carosel::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -500%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 500%;
    z-index: 1;
}
.category-carosel::after {
    left: auto;
    right: -500%;
}

.category-carosel .owl-dots {
    text-align: center;
    margin-top: 25px;
}

.category-carosel .owl-dots div {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #acacac;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}
.category-carosel .owl-dots div.active {
    background: #acacac;
}
