/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px
}
a:hover { text-decoration: none }
.space-90{
    height: 90px;
}
.header-top {
  background-color: #000;
  padding: 13px 0;
}
.header-top, .header-top a {
  color: #fff;
}
.header-top i.fa {
  color: #FC721E;
  padding-right: 5px;
}
.social-link a {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  color: #fff;
    transition: .3s;
}
.social-link i.fa {
  color: #fff;
  padding: 0;
}
.header-top i.fa-phone {
  padding-left: 10px;
}
.social-link a:hover {
  color: ;
  color: #FC721E;
}
.social-link {
  display: inline-block;
  padding-left: 20px;
}
.social-link a:hover {
  background-color: #FC721E;
  border-color: #FC721E;
}
.site-logo {
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid;
  display: inline-block;
  font-weight: 700;
  padding: 10px 15px;
  margin-bottom: 0;
}
.mainmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainmenu li {
  display: inline-block;
}
.mainmenu li a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding: 12px 17px;
  display: block;
  transition: .3s;
  border: 1px solid transparent;
}
.header-bottom {
  padding: 18px 0;
}
.mainmenu li.active a,
.mainmenu li:hover a {
  border: 1px solid #FC721E;
}
.slide-bg-1 {
    background-image: url(../images/slide-1.jpg);
}

.single-slide-item {
  width: 100%;
  height: 700px;
  color: #fff;
  position: relative;
  z-index: 1;
}
.d-table-cell {
  vertical-align: middle;
}
.single-slide-item h2 {
  font-size: 60px;
}
.single-slide-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  background-color: #000;
  height: 100%;
  opacity: .8;
  z-index: -1;
}
.boxed-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background-color: #FC721E;
  padding: 10px 30px;
  border: 1px solid #FC721E;
  border-radius: 5px;
    transition: .3s;
}
.slide-buttons {
  margin-top: 30px;
}
.slide-buttons a {
  margin-right: 10px;
}
.boxed-btn.border-btn {
  background: transparent;
  border-color: #fff;
}
.slide-buttons a:first-child:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.slide-buttons a:last-child:hover {
  background-color: #FC721E;
  color: #fff;
  border-color: #FC721E;
}
.slider-area .owl-dots div {
  display: inline-block;
  margin: 0 4px;
  background-color: #fff;
  width: 2px;
  height: 25px;
}
.slider-area .owl-dots {
	position: relative;
	bottom: 80px;
	left: 0;
	width: 1120px;
	margin: 0 auto;
}
.slider-area .owl-dots div.active {
  background-color: #FC721E;
  height: 30px;
}
.slider-area {
	margin-bottom: -35px;
}

/* service section */

.title-text{
    text-transform: uppercase;
}
.service-section.section-padding{
    padding-bottom: 0;
}
.section-padding{
    padding: 70px 0;
}
.service-box-bg {
  background-color: #ddd;
  height: 200px;
  background-position: center center;
  background-size: cover;
}
.s-bg-1{background-image: url(../images/service-1.jpg);}
.s-bg-2{background-image: url(../images/service-2.jpg);}
.s-bg-3{background-image: url(../images/service-3.jpg);}
.single-service-box {
  position: relative;
  transition: .3s;
}
.service-box-title {
  position: absolute;
  top: 176px;
  width: 100%;
}
.service-box-title h2 {
  width: 80%;
  font-size: 20px;
  text-align: center;
  background-color: #FC721E;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
}
.service-box-content {
	border: 1px solid #d1cfcf;
	text-align: center;
	padding: 50px 15px;
}
.service-btn {
  color: #333;
    transition: .3s;
}
.service-btn:hover {
  color: #FC721E;
}
.service-btn i.fa {
  padding-left: 5px;
}
.single-service-box:hover {
  box-shadow: 0 0 15px #ccc;
}
.space-90 {
    height: 40px;
}
.section-gray{
    background-color: #F4F4F4;
}


.borderd-img {
  position: relative;
}
.borderd-img::before, .borderd-img::after {
  position: absolute;
  content: "";
  background-color: #FC721E;
  height: 70%;
  width: 3px;
  top: 15%;
}
.borderd-img::after {
  left: auto;
  right: 0;
}
.about-text {
  padding: 65px 0;
}

.p-img-1{
    background-image: url(../images/4.jpg);
}

.cta-section {
  background-color: #FC721E;
  color: #fff;
  text-transform: uppercase;
  padding: 50px 0;
}
.cta-section h4 {
  font-size: 20px;
  margin: 10px 0;
}
.cta-boxed-btn {
  color: #333;
  font-weight: 600;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.single-project {
  position: relative;
  padding-left: 260px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.project-img {
  position: absolute;
  height: 100%;
  width: 240px;
  left: 0;
  top: 0;
}
.project-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}
.single-project:hover .project-img::after {
  opacity: .5;
  visibility: visible;
}
.single-project h5 {
  text-transform: capitalize;
  font-size: 18px;
}
.single-project a {
  color: #333;
  text-transform: capitalize;
}
.single-project a i {
  padding-left: 5px;
}
.single-project:hover h5, .single-project:hover a {
  color: #FC721E;
}













