/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
}
h2{
    font-size: 32px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #565656;
    font-size: 17px;

}
a:hover { text-decoration: none }


.section-title h2 {
    color: #222;
}
.section-title {
    color: #565656;
    font-size: 17px;
    margin-bottom: 70px;
    text-align: center;
}
section.section-padding {
    padding: 100px 0;
}

.blog-box-bg-1{
    background-image: url(../images/blog-box-1.jpg);
}
.blog-box-bg-2{
    background-image: url(../images/blog-box-2.jpg);
}
.blog-box-bg-3{
    background-image: url(../images/blog-box-3.jpg);
}

.blog-box-bg {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    border: 1px solid #ffb262;
    height: 200px;
}
.blog-box-bg {
    border-bottom: 0 solid;
}
.single-blog-box:hover .blog-box-content{
    border-color: #FFB262;
}
.blog-box-content {
    border: 1px solid #f4f4f4;
    padding: 20px;
    transition: .3s;
}
.blog-meta i.fa {
  color: #ff9328;
  padding-right: 5px;
}
.blog-meta a{
  color: #565656;
}
.blog-meta {
    font-size: 14px;
}
.blog-meta span{
    margin-right: 10px;
}
.blog-meta span:last-child {
    margin-right: 0px;
}
.blog-box-content h3 {
    font-size: 20px;
    padding-top: 15px;
}
.blog-readmore-btn {
  background-color: #ff9529;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.blog-readmore-btn:hover {
    background-color: #333;
    color: #fff;
}















