/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
}
html, body {
    height: 100%;
}
body {
    font-family: 'EB Garamond', serif;
}
a:hover { text-decoration: none }
.section-padding {
    padding: 70px 0;
}
.section-padding.map-bg {
  background: #343850 none repeat scroll 0 0;
  color: #fff;
  padding-bottom: 0;
  margin-bottom: 100px;
}
.map-bg h3{
   color: #CE9636;
}
.googleMap {
  box-shadow: 0 0 8px #343850;
  height: 430px;
  margin-bottom: -100px;
  margin-top: 140px;
  width: 100%;
}
.section-dec p {
    color: #9395a2;
    font-size: 135%;
    line-height: 2;
    margin-top: 15px;
}
.section-title {
    font-size: 80px;
    font-weight: 400;
    text-transform: capitalize;
}
.section-dec p strong {
    color: #fff;
}
.location-dirction {
  list-style: outside none none;
  margin: 0 0 0 60px;
  padding: 0;
}
.location-dirction li h3 {
    font-size: 75px;
    font-weight: 400;
    margin: 0;
}
.location-dirction li h3 span {
    font-size: 30px;
}
.location-dirction li p {
    color: #938D9A;
    font-size: 17px;
}
.location-dirction li {
    padding-bottom: 20px;
    position: relative;
}
.location-dirction li::after {
    background: #ddd none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    width: 39%;
}
.location-dirction li:last-child::after {
    display: none;
}
.location-dirction li:last-child {
    padding-bottom: 0;
}

/* Main menu area */

.mainmenu-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.logo h1 {
  color: #15a8ca;
  font-size: 25px;
  border: 3px solid;
  display: inline-block;
  padding: 5px 10px 10px 10px;
  margin: 0;
}
.logo {
  margin: 20px 0;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.main-menu ul li {
  display: inline-block;
    position: relative;
}
.main-menu ul li a {
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  color: #27C5E9;
  padding: 32px 20px;
}

/* Dorp down menu */


.main-menu li ul {
    background: #27c5e9 none repeat scroll 0 0;
    box-shadow: 0 0 4px #999db5;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 1;
}
.main-menu li:hover ul {
    opacity: 1;
    top: 86px;
    visibility: visible;
}
.main-menu li ul li a {
    color: #fff;
}
.main-menu li ul li a {
    padding: 5px 10px;
    transition: .3s;
}
.main-menu li ul li {
    display: block;
}
.main-menu ul li:hover a {
    color: #fff;
}
.main-menu li:hover li:hover a {
    background: #fff none repeat scroll 0 0;
    color: #27c5e9;
}
/* Mega Menu */

.main-menu li.mege-menu {
    position: static;
}
.mega-menu-wrapper {
    background: #27c5e9 none repeat scroll 0 0;
    box-shadow: 0 0 4px #999db5;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    transition: .3s;
    top: 100px;
}
.main-menu li.mege-menu ul {
    box-shadow: none;
    left: auto;
    opacity: 1;
    padding: 0;
    position: relative;
    top: auto;
    visibility: visible;
    width: auto;
}
.main-menu li.mege-menu:hover .mega-menu-wrapper {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    top: 86px;
}
.menu-cta {
    font-size: 16px;
    text-align: center;
}
.menu-cta .boxed-btn {
    background: #343850 none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    padding: 7px;
    text-transform: uppercase;
    transition: .3s;
}
.menu-cta .boxed-btn:hover {
    background: #fff;
    color: #343850;
}
.border {
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
}
.single-product {
    background-image: url(../images/product-1.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.product-bg-2 {
    background-image: url(../images/product-2.jpg);
}
.product-bg-3 {
    background-image: url(../images/product-3.jpg);
}
.border .s-p-hover {
    padding: 0;
}
/* Slider area */


.homepage-slider-wrap div{
    height: 100%;
}
.homepage-slider-wrap .owl-controls{
    height: auto;
}
.slider-text {
    display: table;
    height: 100%;
    width: 100%;
  font-family: 'CODELight';
}
.slider-text-cell {
  color: #fff;
  display: table-cell;
  font-family: "CODELight",sans-serif;
  font-size: 100px;
  line-height: 85px;
  padding-left: 85px;
  vertical-align: middle;
  padding-top: 75px;
}
.slider-text-cell strong {
  color: #15a8ca;
  font-family: 'CODEBold';
    font-weight: 400;
}
.homepage-slider-wrap {
    background-image: url(../images/slide-1.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 1;
}
.homepage-slider-wrap::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-slide-item img {
  bottom: 0;
  margin-right: 105px;
  max-height: 675px;
  padding-top: 90px;
  position: absolute;
  right: 0;
  width: 470px;
  z-index: -1;
}
.owl-carousel .owl-item .single-slide-item img {
  width: auto;
}
.homepage-slides .owl-dots {
  height: auto;
  right: 100px;
  position: absolute;
  top: 42%;
}
.homepage-slides .owl-dots div {
  background-color: #15a8ca;
  border: 3px solid #fff;
  box-shadow: 0 0 5px 2px #8e8e8e;
  height: 18px;
  margin: 20px 7px;
  border-radius: 50%;
  width: 18px;
}
.homepage-slides .owl-dots div.active {
    background-color: #fff;
}
.boxed-btn {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  line-height: 14px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.boxed-btn:hover {
  border: 1px solid #fff;
  color: #fff;
    background: #15a8ca;
}

.service-list {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.single-service {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10%;
    transition: .3s;
}
.service-list .col-sm-4 {
    padding: 0;
}
.service-list .row {
    margin: 0;
}
.single-service h3 {
    color: #535353;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}
.service-icon i {
    color: #e2e2e2;
    font-size: 40px;
    margin: 20px 0;
    transition: .3s;
}
.single-service p {
    color: #535353;
    line-height: 2.3;
}
.single-service:hover {
    box-shadow: 0 40px 90px #808080;
}
.single-service:hover .service-icon i {
    color: #CF1E18;
}


.project-bg-1 {background-image: url(../images/img-1.jpg);}
.project-bg-2 {background-image: url(../images/img-2.jpg);}
.project-bg-3 {background-image: url(../images/img-3.jpg);}
.project-bg-4 {background-image: url(../images/img-4.jpg);}
.project-bg-5 {background-image: url(../images/img-5.jpg);}
.project-bg-6 {background-image: url(../images/img-6.jpg);}
.project-bg-7 {background-image: url(../images/img-7.jpg);}
.project-bg-8 {background-image: url(../images/img-8.jpg);}
.project-bg-9 {background-image: url(../images/img-1.jpg);}


.project-filter {
    list-style: outside none none;
    margin: 0 0 60px;
    padding: 0;
    text-align: center;
}
.project-filter li {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0 15px;
    padding: 2px 0;
    text-transform: capitalize;
    transition: all 0.2s ease 0s;
}
.project-filter li.active, .project-filter li:hover {
    border-bottom: 3px solid #333;
}
.single-project-item {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    display: table;
    height: 400px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    width: 100%;
}
.project-hover h3 {
    color: #333;
    font-size: 22px;
    line-height: 1.6;
}
.project-hover h3 span {
    display: block;
    font-size: 75%;
    font-weight: normal;
    opacity: 0.7;
}
.project-hover::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.project-hover {
    display: table-cell;
    opacity: 0;
    position: relative;
    transform: scale(0.7);
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    visibility: hidden;
    z-index: 1;
}
.single-project-item:hover .project-hover {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.single-project-item::before, .single-project-item::after {
    content: "";
    height: 80px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 80px;
    z-index: 2;
}
.single-project-item::before {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    bottom: 0;
    left: 0;
}
.single-project-item::after {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    right: 0;
    top: 0;
}
.single-project-item:hover::after, .single-project-item:hover::before {
    opacity: 1;
    visibility: visible;
}


.service-box-bg {
    background-image: url(../images/medical.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.box-bg-2{
    background-image: url(../images/medical-2.jpg);
}
.box-bg-3{
    background-image: url(../images/medical-3.jpg);
}

.title-text {
    color: #848484;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
}
.title-text h2 {
    color: #333;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.title-text h2 span {
    color: #00c9cf;
}
.service-box-bg {
    border-radius: 5px 5px 0 0;
    height: 250px;
    position: relative;
    z-index: 1;
}
.service-box-bg i {
    background: #25385b none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: -25px;
    color: #fff;
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    text-align: center;
    width: 70px;
    transition: .3s;
}
.service-box-bg i::before {
    font-size: 38px;
    line-height: 60px;
    margin: 0;
}
.single-service-box {
    border: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
}
.single-service-box:hover h4 {
    background-color: #25385B;
    color: #fff;
}
.single-service-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 40px 20px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}
.single-service-box:hover .service-box-bg i {
    background-color: #00c9cf;
    border: 4px solid #25385B;
}

.single-product-box{
    background-image: url(../images/pic-13.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 600px;
}
.box-bg-2{
    background-image: url(../images/cc.jpg);
}
.box-bg-3{
    background-image: url(../images/pic-k.jpg);
}
.box-bg-4{
    background-image: url(../images/pic-m.jpg);
}
.box-bg-5{
    background-image: url(../images/pic-q.jpg);
}
.section-title h2 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title p {
    color: #787878;
    font-size: 15px;
}

.row.no-padding {
    margin: 0;
}
.row.no-padding .col-md-4 {
    padding: 0;
}
.single-product-box.half-size {
    height: 300px;
}
.single-product-box {
    position: relative;
}
.product-box-hover {
    height: 90%;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 5%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 90%;
    z-index: 1;
}
.product-box-hover::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-product-box:hover .product-box-hover {
    opacity: 1;
    visibility: visible;
}

.sigle-item-table {
    display: table;
    height: 100%;
    width: 100%;
}
.single-item-tablecell {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.single-item-tablecell h4 {
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.larg-img {
    color: #07b514;
    margin-bottom: 15px;
    display: block;
}
.larg-img:hover {
    color: #07b514;
}

.single-team-bg {
    background-image: url(../images/team-bg.jpg);
}
.team-bg-2 {
    background-image: url(../images/team-bg-2.jpg);
}
.team-bg-3 {
    background-image: url(../images/team-bg-3.jpg);
}

.section-padding {
    padding: 70px 0;
}
.our-team .section-title::before {
    background: #b3b3b3 none repeat scroll 0 0;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    top: -35px;
    width: 70%;
}
.our-team .section-title {
    letter-spacing: 1px;
    margin-top: 75px;
    position: relative;
    text-align: right;
    transform: rotate(270deg);
}
.our-team .section-title h2 {
    font-size: 28px;
    text-transform: uppercase;
}
.single-team-bg {
    background-color: #ddd;
    background-position: center top;
    background-size: cover;
    height: 270px;
}
.content-title h3 {
    font-size: 17px;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding: 0 10px;
    text-transform: uppercase;
}
.single-team-content {
    border: 1px solid #8d8d8d;
    margin-top: 50px;
    text-align: center;
}
.content-title h3 {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
}
.content-title {
    margin-top: -10px;
}
.single-team-content p {
    color: #747474;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.content-title h3 {
    font-size: 17px;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding: 0 10px;
    text-transform: uppercase;
}
.single-team-content {
    border: 1px solid #8d8d8d;
    margin-top: 50px;
    text-align: center;
}
.content-title h3 {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
}
.content-title {
    margin-top: -10px;
}
.single-team-content p {
    color: #747474;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.col-md-4:nth-child(2) .single-team-member {
    margin-top: 112px;
}

/* sticky Footer*/
.footer-all-area {
  position: fixed;
  bottom: 0;
  width: 100%;
    background: #15A8CA;
}
.site-main-wrap {
  position: relative;
  z-index: 9;
  background: #fff;
}

.social {
	padding: 4px 0;
	text-align: right;
}
.footer-area {
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    padding-top: 20px;
}
.footer-area p {
    color: #fff;
    font-size: 20px;
}
.social a {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	padding: 0 15px;
}


