/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 300;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
a:hover { text-decoration: none }


body {
    font-size: 15px;
    line-height: 1.7;
}
.header-top-area {
    background-color: #218ae6;
    padding: 10px 0;
}
.header-top-area, .header-top-area a {
    color: #fff;
}
.header-top-area a {
    padding-left: 10px;
}
.header-top-area p {
    margin: 0;
}
.header-top-area i {
    padding-right: 10px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    color: #333;
    display: block;
    padding: 25px 0 25px 29px;
    text-transform: uppercase;
}
.homepage-sliders {
    background-color: #218ae6;
    color: #fff;
    font-size: 17px;
}
.logo {
    padding: 11px 0;
}
.mainmenu ul li:hover a {
    color: #218ae6;
}
.homepage-sliders h2 {
    font-size: 50px;
    font-weight: 100;
}

.slide-btn {
    background-color: #f9cf25;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    padding: 8px 20px;
    text-transform: uppercase;
}

.single-hompage-slide {
    padding: 115px 0;
}
.homepage-sliders .owl-dots div {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
}
.homepage-sliders .owl-dots div.active {
    background-color: #F9CE26;
}
.homepage-sliders .owl-dots {
    bottom: 25px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


















