/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html, body {
    height: 100%;
}
a:hover { text-decoration: none }
.count-time-wrapper {
    background-image: url(../images/homepage-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: table;
}
.count-time-wrapper:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: .8;
}
.wrap-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrap-inner h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.wrap-inner h2 span {
    color: #fdac36;
    font-weight: 600;
    text-transform: uppercase;
}
.wrap-inner h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}
.form-box {
    margin: 40px auto;
    width: 400px;
}
.form-box input {
    border: medium none;
    border-radius: 30px;
    font-size: 18px;
    padding: 18px 0;
    width: 100%;
}
.form-box input[type="text"] {
    font-style: italic;
    text-align: center;
}
.form-box input[type="submit"] {
    background: #fdac36 none repeat scroll 0 0;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}
.wrap-inner p i {
  color: #fff;
  font-size: 40px;
  margin: 25px 0;
}
.count-down-time {
    color: #fff;
}
.single-count-down {
    display: inline-block;
    font-size: 80px;
    padding: 0 24px;
    line-height: 40px;
}
.single-count-down span {
    font-size: 20px;
    text-transform: capitalize;
}














